<!-- CONTACTS ------------------------------------------------------------->
<section class="container">
    <div class="contacts_section">
     <h2 class="contacts_heading">Fresh harvest box has got you covered</h2>
     
     <div class="contacts_images">
        <ul class="fresh-box">
          <img src="./img/contacts/rectangle-desktop.jpg" alt="melon" width="792" height="502">
          <img src="./img/contacts/bearberry-desktop.jpg" alt="bearberry" width="400" height="502">
        </ul>
    </div>
    
    <p class="text">Our boxes are packed with delicious, nutritious fruits and vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!</p>

        <form><input class="contact_input" type="email" name="email" /><button class="send-button" type="button">Send</button> </form>

    </div>
    </section>