<!-- CONTACTS ------------------------------------------------------------->
<section class="container" id="contacts">
  <div class="contacts_section">
    <h2 class="contacts_heading">Fresh harvest box has got you covered</h2>

    <div class="contacts_images">
      <ul class="fresh-box">
        <img
          src="./img/contacts/rectangle-desktop.jpg"
          alt="melon"
          width="792"
          height="502"
        />
        <img
          src="./img/contacts/bearberry-desktop.jpg"
          alt="bearberry"
          width="400"
          height="502"
        />
      </ul>
    </div>
    <div class="contacts_images contacts_images_tablet">
      <ul class="fresh-box fresh-box-tablet">
        <img
          src="./img/contacts/rectangle-tablet.jpg"
          alt="melon"
          width="792"
          height="502"
          class="contacts_images_tablet_img"
        />
        <img
          src="./img/contacts/bearberry-tablet.jpg"
          alt="bearberry"
          width="400"
          height="502"
          class="contacts_images_tablet_img"
        />
      </ul>
    </div>
    <div class="contacts_images contacts_images_mobile">
      <ul class="fresh-box fresh-box-tablet">
        <img
          src="./img/contacts/rectangle-mobile.jpg"
          alt="melon"
          width="335"
          height="476"
          class="contacts_images_tablet_img"
        />
      </ul>
    </div>

    <p class="text">
      Our boxes are packed with delicious, nutritious fruits and vegetables,
      perfect for anyone looking to eat healthier or support local farmers.
      Order your box today and start enjoying the best that nature has to offer!
    </p>

    <form class="contact_form">
      <input
        class="contact_input"
        type="email"
        placeholder="Enter email..."
        name="email"
        autocomplete="on"
      /><label for="contacts_checkbox_id" class="send-button">Send</label>
      <input
        type="checkbox"
        id="contacts_checkbox_id"
        class="contacts_checkbox"
      />
      <load src="partials/pop-up-thank-you.html" />
    </form>
  </div>
</section>
