<!-- CONTACTS ------------------------------------------------------------->
<section class="container">
  <h2 class="contacts_heading">Fresh harvest box has got you covered</h2>

  <!-- do zaktualizowania - potrzebowałam dla modala thank you ;) -------------->
  <label for="contacts_checkbox_id" class="contacts_checkbox_modal-open-button"
    >Otwórz Modal</label
  >
  <input type="checkbox" id="contacts_checkbox_id" class="contacts_checkbox" />
  <load src="partials/pop-up-thank-you.html" />
</section>
