<!-- FOOTER --------------------------------------------------------------->

<footer class="container">
  <div class="footer">
    <div class="footer_image_and_menu">
      <div class="footer_image_and_logo">
        <div class="footer_image">
          <img
            src="img/footer/smile-women-desktop.jpg"
            alt="smile women with banana"
            width="349px"
          />
        </div>
        <div class="logo_pack">
          <a href="index.html" class="logo_pack-a">
            <svg width="16px" height="16px">
              <use href="./img/icons.svg#icon-logo"></use>
            </svg>
            <span class="logo_text">fresh harvest box</span>
          </a>
        </div>
      </div>
      <div class="footer_menu">
        <ul class="footer_menu_list">
          <li>
            <a class="footer_menu_list_link" href="#how-it-works"
              >How It Works</a
            >
          </li>
          <li>
            <a class="footer_menu_list_link" href="#organic-fruits">Fruits</a>
          </li>
          <li>
            <a class="footer_menu_list_link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer_social_media_and_address">
      <div class="footer_social_media">
        <ul class="footer_social_media_icon_list">
          <li class="footer_social_media_icons">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              class="icon-link-footer"
            >
              <svg class="footer_social_media_icon_svg" width="44" height="44">
                <use href="./img/icons.svg#icon-face"></use>
              </svg>
            </a>
          </li>
          <li class="footer_social_media_icons">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              class="icon-link-footer"
            >
              <svg class="footer_social_media_icon_svg" width="44" height="44">
                <use href="./img/icons.svg#icon-insta"></use>
              </svg>
            </a>
          </li>
          <li class="footer_social_media_icons">
            <a
              href="https://www.youtube.com/"
              target="_blank"
              class="icon-link-footer"
            >
              <svg class="footer_social_media_icon_svg" width="44" height="44">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <address class="footer_contacts">
        <ul class="footer_contacts-list">
          <li class="footer_contacts-list_margin">
            <a class="footer_contacts_link" href="">+380 (68) 443-94-26</a>
          </li>
          <li>
            <a
              class="footer_contacts_link"
              href="https://www.google.com/maps/place/1678+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+Stany+Zjednoczone/@40.733052,-111.9629734,17z/data=!3m1!4b1!4m6!3m5!1s0x8752f35b0826d399:0x2b26230524fd3ca3!8m2!3d40.733048!4d-111.9603985!16s%2Fg%2F11bw41vm_p?entry=ttu"
              target="_blank"
            >
              1678 S. Pioneer Road Salt Lake City <br />
              UT 84104</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
</footer>
