<!-- FRUITS --------------------------------------------------------------->
<section class="container" id="organic-fruits">
    <div class="fruit-section">
        <div class="fruit-section-title-div">
            <h2 class="fruit-section-title">ORGANIC FRUITS</h2>

            <p class="section-title-text">
                Our organic fruits are hand-picked from local farms and delivered
                straight to your doorstep, ensuring that you get the freshest and most
                nutritious produce possible. We offer a wide selection of organic fruits
                grown without the use of harmful pesticides or chemicals.
            </p>
        </div>

        <ul class="fruits-list">

            <li class="fruits-list-item">
                <div class="fruits-list-item-box strawberry">
                    <div class="fruits-item-name">
                        <h3 class="fruits-item-name-title">Strawberry</h3>
                        <p class="fruits-item-name-text">Plant</p>
                    </div>

                    <img class="fruits-img" src="./img/fruits/product-1-desktop.png" alt="strawberry"
                        width="295" />

                        <div class="fruits-oval"></div>

                    <button class="price-button" type="button">
                        100 UAH / kg
                    </button>
                </div>
            </li>

            <li class="fruits-list-item">
                <div class="fruits-list-item-box banana">
                    <div class="fruits-item-name">
                        <h3 class="fruits-item-name-title">Banana</h3>
                        <p class="fruits-item-name-text">Plant</p>
                    </div>

                    <img class="fruits-img" src="./img/fruits/product-2-desktop.png" alt="banana" width="295" />

                    <div class="fruits-oval"></div>

                    <button class="price-button" type="button">
                        80 UAH / kg
                    </button>
                </div>
            </li>

            <li class="fruits-list-item">
                <div class="fruits-list-item-box watermelon">
                    <div class="fruits-item-name">
                        <h3 class="fruits-item-name-title">Watermelon</h3>
                        <p class="fruits-item-name-text">Plant</p>
                    </div>

                    <img class="fruits-img" src="./img/fruits/product-3-desktop.png" alt="watermelon"
                        width="295" />

                        <div class="fruits-oval"></div>

                    <button class="price-button" type="button">
                        40 UAH / kg
                    </button>
                </div>
            </li>

            <li class="fruits-list-item">
                <div class="fruits-list-item-box lime">
                    <div class="fruits-item-name">
                        <h3 class="fruits-item-name-title">Lime</h3>
                        <p class="fruits-item-name-text">Plant</p>
                    </div>

                    <img class="fruits-img" src="./img/fruits/product-4-desktop.png" alt="lime" width="295" />

                        <div class="fruits-oval"></div>

                    <button class="price-button" type="button">
                        16 UAH / kg
                    </button>
                </div>
            </li>

            <li class="fruits-list-item">
                <div class="fruits-list-item-box apple">
                    <div class="fruits-item-name">
                        <h3 class="fruits-item-name-title">Apple</h3>
                        <p class="fruits-item-name-text">Plant</p>
                    </div>

                    <img class="fruits-img" src="./img/fruits/product-5-desktop.png" alt="apple" width="295" />

                    <div class="fruits-oval"></div>

                    <button class="price-button" type="button">
                        50 UAH / kg
                    </button>
                </div>
            </li>
            <li class="fruits-list-item">
                <div class="fruits-list-item-box peach">
                    <div class="fruits-item-name">
                        <h3 class="fruits-item-name-title">Peach</h3>
                        <p class="fruits-item-name-text">Plant</p>
                    </div>

                    <img class="fruits-img" src="./img/fruits/product-6-desktop.png" alt="peach" width="295" />

                    <div class="fruits-oval"></div>

                    <button class="price-button" type="button">
                        80 UAH / kg
                    </button>
                </div>
            </li>

            <li class="fruits-list-item fruit-visible">
                <div class="fruits-list-item-box plums">
                    <div class="fruits-item-name">
                        <h3 class="fruits-item-name-title">Plums</h3>
                        <p class="fruits-item-name-text">Plant</p>
                    </div>

                    <img class="fruits-img" src="./img/fruits/product-7-desktop.png" alt="plums" width="295" />

                    <div class="fruits-oval"></div>

                    <button class="price-button" type="button">
                        40 UAH / kg
                    </button>
                </div>
            </li>

            <li class="fruits-list-item fruit-visible">
                <div class="fruits-list-item-box orange">
                    <div class="fruits-item-name">
                        <h3 class="fruits-item-name-title">Orange</h3>
                        <p class="fruits-item-name-text">Plant</p>
                    </div>
                    <img class="fruits-img" src="./img/fruits/product-8-desktop.png" alt="orange" width="295" />

                    <div class="fruits-oval"></div>

                    <button class="price-button" type="button">
                        60 UAH / kg
                    </button>
                </div>
            </li>

            <li class="fruits-list-item kiwi-visible fruit-visible">
                <div class="fruits-list-item-box kiwi">
                    <div class="fruits-item-name">
                        <h3 class="fruits-item-name-title">Kiwi</h3>
                        <p class="fruits-item-name-text">Plant</p>
                    </div>

                    <img class="fruits-img" src="./img/fruits/product-9-desktop.png" alt="kiwi" width="295" />

                    <div class="fruits-oval"></div>
                    
                    <button class="price-button" type="button">
                        90 UAH / kgs
                    </button>
                </div>
            </li>

        </ul>

        <input type="checkbox" id="order-modal" class="order-modal">
    

        <label for="order-modal" class="order-button">
            <svg class="order-icon" width="14" height="14">
                <use href="img/icons.svg#icon-vector"></use>
            </svg>
            <span class="order-button-text">ORDER</span>
        </label>
        <load src="partials/pop-up-your-order.html" />
        </button>
    </div>
</section>