<header class="header">
  <div class="container">
    <nav class="topline">
      <ul class="menu">
        <li><a href="#">How It Works</a></li>
        <li><a href="#">Fruits</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
      <div class="logo_pack">
        <a href="index.html">
          <svg width="16px" height="16px">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
          <span class="logo_text">fresh harvest box</span>
        </a>
      </div>
      <div class="topline_uil-cart">
        <svg class="uil-cart" width="28" height="28">
          <use href="./img/icons.svg#icon-uil_cart"></use>
        </svg>
      </div>
    </nav>
  </div>
</header>
