<!-- HERO ----------------------------------------------------------------->
<section class="hero container">
    <h1 class="hero_heading">fresh harvest box is your one-stop place for a delicious fruit basket</h1>
    <div class="hero_content">
        <div class="hero_watermelon">
            <p class="hero_watermelon_text"></p>
            <div class="hero_watermelon_pill">
                <p class="hero_watermelon_pill_title">Fruit</p>
                <img src="/src/img/hero/watermelon-clipart-desktop.png" alt="juicy watermelons"
                    class="hero_watermelon_pill_image">
                <div class="oval"></div>
                <p class="hero_watermelon_pill_description">Refreshing and juicy,<br>watermelon is the<br>perfect summer
                    treat<br>and a great source of<br>hydration</p>
            </div>
            <div class="hero_redhead_wrapper">
                <div class="hero_redhead">
                    <button class="button_shop-now">SHOP<br>NOW</button>
                    <img src="/src/img/hero/Hero-desktop.jpg" class="hero_redhead_image" alt="redhair">


                </div>
            </div>
            <div class="hero_strawberries">
                <div class="hero_strawberries_pill">
                    <p class="hero_strawberries_pill_title">Fruit</p>
                    <img src="/src/img/hero/strawberry-basket-desktop.png" alt="" class="hero_strawberries_pill_image">
                    <div class="oval"></div>
                    <p class="hero_strawberries_pill_description">Sweet and juicy,<br>strawberries are packed<br>with
                        vitamin C and<br>antioxidants, making them<br>a delicious and health<br> snack</p>
                </div>
                <div class="hero_strawberries_buttons"></div>
            </div>
        </div>
</section>