<!-- HOW IT WORKS --------------------------------------------------------->

<section class="container section_how-it-works" id="how-it-works">
  <div class="how-it-works">
    <h2 class="how-it-works_heading">
      To order your fruit basket, simply follow these easy steps
    </h2>
    <p class="how-it-works_paragraph">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home. Whether you're looking for a healthy snack or a thoughtful
      gift, our fruit baskets are the perfect choice.
    </p>
  </div>
  <ul class="how-it-works_steps">
    <li class="how-it-works_step">
      <h3 class="how-it-works_h heading-one">First Step</h3>
      <p class="how-it-works_p">
        Just choose the fruit you want to order by clicking on the checkboxes
        next to it.
      </p>
    </li>
    <li class="how-it-works_step">
      <h3 class="how-it-works_h heading-two">Second Step</h3>
      <p class="how-it-works_p">Click on the basket and fill out the form.</p>
    </li>
    <li class="how-it-works_step">
      <h3 class="how-it-works_h heading-three">Third Step</h3>
      <p class="how-it-works_p">
        Sit back and relax! Your fresh fruit basket will be delivered.
      </p>
    </li>
  </ul>

  <img
    class="how-it-works_gif"
    src="./img/how-it-works/fresh-harvest-box.gif"
    alt="fruits in a big way"
  />
</section>
