<div class="modal-order">
  <div class="modal-order_content">
    <label for="order-modal" class="close-button"
      ><svg class="modal-order_content_close-button_svg">
        <use href="img/icons.svg#icon-x-red"></use>
      </svg>
    </label>

    <h2 class="modal-order_content_header">YOUR ORDER</h2>
    <div class="modal-order_content_cards">
      <div class="card modal-order_content_strawberry">
        <label>
          <div>
            <input
              id="modal-order_content_checkbox_strawberry"
              type="checkbox"
              class="modal-order_content_checkbox"
            />
            <h3 class="modal-order_content_card_header">Strawberry Basket</h3>
            <p class="modal-order_content_card_paragraph">Plant</p>
            <div class="modal-order_content_card_div_img">
              <img
                class="modal-order_content_card_img modal-order_content_img_desktop"
                src="./img/pop-up-your-order/strawberry-basket-pop-up-desktop.png"
                alt="strawberris in the baskiet"
                srcset=""
              />
              <img
                class="modal-order_content_card_img modal-order_content_img_tablet"
                src="./img/pop-up-your-order/strawberry-basket-pop-up-tablet.png"
                alt="strawberris in the baskiet"
                srcset=""
              />
              <img
                class="modal-order_content_card_img modal-order_content_img_mobile"
                src="./img/pop-up-your-order/strawberry-basket-pop-up-mobile.png"
                alt="strawberris in the baskiet"
                srcset=""
              />
            </div>
          </div>
        </label>
      </div>
      <div class="card modal-order_content_apple">
        <label>
          <div>
            <input
              id="modal-order_content_checkbox_apple"
              type="checkbox"
              class="modal-order_content_checkbox"
            />
            <h3 class="modal-order_content_card_header">Apple Basket</h3>
            <p class="modal-order_content_card_paragraph">Plant</p>
            <div class="modal-order_content_card_div_img">
              <img
                class="modal-order_content_card_img modal-order_content_img_desktop"
                src="./img/pop-up-your-order/apple-basket-desktop.png"
                alt="apples in the baskiet"
                srcset=""
              />
              <img
                class="modal-order_content_card_img modal-order_content_img_tablet"
                src="./img/pop-up-your-order/apple-basket-tablet.png"
                alt="strawberris in the baskiet"
                srcset=""
              />
              <img
                class="modal-order_content_card_img modal-order_content_img_mobile"
                src="./img/pop-up-your-order/apple-basket-mobile.png"
                alt="strawberris in the baskiet"
                srcset=""
              />
            </div>
          </div>
        </label>
      </div>
      <div class="card modal-order_content_fruits">
        <label>
          <div>
            <input
              id="modal-order_content_checkbox_fruits"
              type="checkbox"
              class="modal-order_content_checkbox"
            />
            <h3 class="modal-order_content_card_header">Fruits Basket</h3>
            <p class="modal-order_content_card_paragraph">Plant</p>
            <div class="modal-order_content_card_div_img">
              <img
                class="modal-order_content_card_img modal-order_content_img_desktop"
                src="./img/pop-up-your-order/fruits-basket-desktop.png"
                alt="fruits in the baskiet"
                srcset=""
              />
              <img
                class="modal-order_content_card_img modal-order_content_img_tablet"
                src="./img/pop-up-your-order/fruits-basket-tablet.png"
                alt="fruits in the baskiet"
                srcset=""
              />
              <img
                class="modal-order_content_card_img modal-order_content_img_mobile"
                src="./img/pop-up-your-order/fruits-basket-mobile.png"
                alt="fruits in the baskiet"
                srcset=""
              />
            </div>
          </div>
        </label>
      </div>
    </div>
    <!-- modal-order_content_cards -->

    <form name="modal-order-form" class="modal-order-form">
      <div class="modal-order-form_wrapper">
        <div>
          <input
            id="name"
            type="text"
            name="name"
            placeholder="Enter full name..."
            class="modal-order-input"
            autocomplete="on"
            required
          />
        </div>

        <div>
          <input
            id="email"
            type="email"
            name="phone_number"
            placeholder="Enter email..."
            class="modal-order-input"
            autocomplete="on"
            required
          />
        </div>

        <div>
          <input
            id="card"
            type="text"
            name="phone_number"
            placeholder="Enter card..."
            class="modal-order-input"
            autocomplete="on"
            required
          />
        </div>

        <div>
          <textarea
            name="comment"
            id="comment"
            placeholder="Enter comments..."
            class="modal-order-input_textarea"
            rows="7"
            required
          ></textarea>
        </div>
      </div>

      <div>
        <button type="submit" class="btn_modal_submit">Submit</button>
      </div>
    </form>
  </div>
</div>
