<div class="modal-thank-you">
  <div class="modal-thank-you_content">
    <label
      for="contacts_checkbox_id"
      class="modal-thank-you_content_close-button"
      ><svg class="modal-thank-you_content_close-button_svg">
        <use href="img/icons.svg#icon-x"></use>
      </svg>
    </label>
    <div class="modal-thank-you_image">
      <img
        src="img/pop-up-thank-you/raspberry-fruit-desktop.png"
        alt="Raspberries"
        class="modal-thank-you_content_image"/>
    </div>

    <div class="modal-thank-you_text">
      <h2 class="modal-thank-you_content_heading">THANK YOU</h2>
      <p>Thank you for your order! Our team is preparing your box with fresh,
        delicious fruits and vegetables, and we'll deliver it straight to your
        doorstep. We appreciate your business and look forward to providing you
        with the best possible experience!</p>
    </div>
  </div>
</div>
