<div class="modal-order">
    <div class="modal-order_content">


        <label for="order-modal" class="close-button"><svg class="modal-order_content_close-button_svg">
            <use href="img/icons.svg#icon-x-red"></use>
          </svg></label>

        <h2 class="modal-order_content_header">YOUR ORDER</h2>
        <div class="modal-order_content_cards">
            <div class="card modal-order_content_strawberry"></div>
            <div class="card modal-order_content_apple"></div>
            <div class="card modal-order_content_fruits"></div>

        </div><!-- modal-order_content_cards -->

       
        
      

            <form name="modal-order-form" class="modal-order-form">
                <div class="modal-order-form-wrapper">
                    <input id="user_name" type="text" name="name" placeholder="Enter full name..." class="modal-order-input" required />
                    <label class="form-buy-label" for="user_name">Name</label>
                </div>
            
                <div class="form-buy-wrapper">
                    <input id="phone_number" type="text" name="phone_number" placeholder="Enter email..." class="modal-order-input" pattern="\d*"
                        minlength="9" maxlength="12" required>
                    <label for="phone_number" class="form-buy-label">Phone</label>
                </div>
            
                <div class="form-buy-wrapper">
                    <textarea name="comment" id="comment" placeholder="Enter card..." class="modal-order-input buy-now-comment"></textarea>
                    <label for="comment" class="form-buy-label">Comment</label>
                </div>
                <div class="buy-now-btn-wrapper">
                    <button type="submit" class="form-buy-btn">Submit</button>
                </div>
            </form>
            
        </div>
        
    </div>
</div>

