<div class="modal-order">
    <div class="modal-order_content">
        <label for="order-modal" class="close-button"><svg class="modal-order_content_close-button_svg">
            <use href="img/icons.svg#icon-x-red"></use>
          </svg></label>
        <h2 class="modal-order_content_header">YOUR ORDER</h2>
        <div class="modal-order_content_baskets"> 

        </div>
         <div class="modal-order_content_form"> 
            <form> 
                <input type="text" name="t1" value="tu wpisz…" size="25" maxlength="30" > 

            </form>
            
        </div>
        
    </div>
</div>

