.contacts_text {
    width: 492px;
    height: 54px;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.29;
    letter-spacing: -0.04em;
    margin: auto;
    color: #FFFFFF;
    text-shadow: 0px 4px 70px var(--black);
    font-size: 14px;
}

.contacts_heading {
    width: 740px;
    font-weight: 500px;
    font-size: 64px;
    height: 128px;
    letter-spacing: -0.04em;
    z-index: 1;
    text-align: center;
    text-transform: uppercase;
}

.send-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--green);
    border-radius: 100px;
    gap: 15px;

}

.contacts_images {
    z-index: 0;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    line-height: 1;  
}

.contact_input {
    font-family: inherit;
    border-color: #FFFFFF;
    border-radius: 100px;
    border: 1px;
    border-width: 292px;
}

.fresh-box img {
border-radius: 20px;
}
