.contacts_section {
  margin: auto;
  margin-bottom: 150px;
  margin-top: 150px;
  position: relative;
  z-index: 0;
}

.text {
  width: 492px;
  height: 54px;
  text-align: center;
  letter-spacing: -0.04em;
  margin: auto;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  margin-bottom: 80px;
  line-height: 1.3;
  font-weight: 400;
}

.contacts_heading {
  width: 740px;
  font-weight: 500;
  font-size: 64px;
  letter-spacing: -0.04em;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  text-shadow: 0px 4px 70px var(--black);
  line-height: 1;
  height: 128px;
  z-index: 1;
  margin: auto;
  left: calc((100% - 740px) / 2);
}

.send-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--green);

  display: inline-block;
  padding: 15px 20px;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  text-align: center;
  width: 82px;
  height: 18px;
}
.contacts_checkbox {
  display: none;
}

.contacts_images {
  z-index: 0;
  margin-bottom: 80px;
}

.contact_input {
  margin-left: 24px;
  background-color: #ae1332;
}

.fresh-box {
  display: flex;
  justify-content: center;
}

.fresh-box img {
  border-radius: 20px;
  padding-top: 89px;
  background-color: #ae1332;
}

.contact_input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  color: #ffffff;
  background-color: #ae1332;
}

.contact_form {
  width: 292px;
  height: 48px;
  margin: auto;
  border: 1px solid #ffffff;
  border-radius: 30px;
  display: flex;
}

.contact_form:hover {
  border: 1px solid var(--green);
}

.contact_form:focus {
  border: 1px solid var(--green);
}

.contact_input:placeholder-shown {
  border: none;
}

.contact_input:focus-within {
  border: 1px solid #ae1332;
}
