.footer {
  width: 100%wh;
  height: 297px;
  background-color: white;
  padding-top: 80px;
  display: flex;
}

.footer_image_and_logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-left: 32px;
}

.logo_pack-a {
  display: flex;
  gap: 8px;
}

.footer_social_media {
  width: 172px;
  margin-bottom: 40px;
}

.footer_social_media_icon_list {
  display: flex;
  gap: 20px;
}

.footer_menu {
  margin-left: 243px;
  margin-right: 232px;
}

.footer_menu_list_link {
  color: #ae1332;
}

.footer_menu_list {
  display: flex;
  gap: 20px;
}

.footer_contacts-list {
  color: #ae1332;
  font-size: 18px;
}

.footer_social_media_and_address {
  display: inline-block;
  max-width: 184px;
}
