.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.logo_pack-a {
  display: flex;
  gap: 8px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}

.topline_uil-cart {
  width: 208px;
  text-align: right;
}

.topline_uil-cart_mobile {
  display: none;
}
