.header-long {
  background-color: white;
  width: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.logo_pack-a {
  display: flex;
  gap: 8px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}

.topline_uil-cart {
  width: 208px;
  text-align: right;
}

.topline_uil-cart_mobile {
  display: none;
}

@media (max-width: 768px) {
  .topline_uil-cart_mobile {
    display: block;
  }
}

/* mobile nav */

.header-mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--red);
  z-index: 2;
}

.header-column {
  display: flex;
  justify-content: center;
  margin-top: 124px;
}

.menu_modal {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.menu_modal_color {
  color: white;
}

.close-button_svg {
  width: 28px;
  height: 28px;
}

.logo_pack_modal {
  display: flex;
  padding: 16px 0px;
  padding-left: 20px;
  align-items: center;
  background-color: white;
}

.uil-cart-modal {
  filter: brightness(0) invert(1);
}

.header_checkbox {
  display: none;
}

.header-checkbox_open-button {
  cursor: pointer;
}

.modal_header {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 5px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.header_checkbox:checked + .header-checkbox_open-button + .modal_header {
  display: flex;
}

.header-checkbox_close-button {
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 20px;
}

.cart_uil {
  width: 28px;
  height: 28px;
  fill: white;
  color: white;
  stroke: white;
}
