.modal-thank-you {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
  justify-content: center;
  align-items: center;
}

.modal-thank-you_content {
  background-color: #e03f5e;
  width: 600px;
  height: 545px;
  margin: 5% auto;
  padding: 20px;

  border-radius: 15px;
  text-align: center;
  position: relative;
}

.modal-thank-you_text {
  margin-top: 0;
  height: 130px;
  width: 391px;

  margin-left: 105px;
  margin-bottom: 80px;
  margin-right: 104px;
  text-align: center;
}
.modal-thank-you_content p {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-shadow: 0px 4px 70px var(--black);
}

.modal-thank-you_content_heading {
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.04em;
  text-shadow: 0px 4px 70px var(--black);
  margin: 14px;
  padding: 0;
  
}

.modal-thank-you_content_close-button {
  color: var(--white);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-thank-you_content_close-button:hover,
.modal-thank-you_content_close-button:focus {
  color: black;
  text-decoration: none;
}

.contacts_checkbox:checked ~ .modal-thank-you {
  display: block;
}

.modal-thank-you_image {
  background-color: #e03f5e;
  width: 278px;
  height: 239px;
  margin-bottom: 14px;
  margin-left: 161px;
  margin-top: 68px;
}

.modal-thank-you_content_image {
  background: none;
  width: 100%;
  height: 100%;
}

.modal-thank-you_content_close-button_svg {
  color: var(--white);
  fill: var(--white);
  width: 28px;
  height: 28px;
}
